---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
    <div style="margin: -15px 0px 0px 15px;color: #808080;opacity: 0.7;font-size: 13pt">
    {% if page.categories != empty or page.tags != empty %}
        {% include category_links.html categories=page.categories tags=page.tags%}
    {% endif %}
    </div>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
